body, html{
    height: 100%;
    overflow: hidden;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.bg-image{
    background-image: url(../tic/fundo/nbgblur.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    position: relative;
    width: 924px;
    height: 508px;
    background: #151320;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -191%);
}

.box::before, .box::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #003366, #174978, #2F5F8A, #46769B, #5E8CAD, #75A2BF,
    #003366, #174978, #2F5F8A, #46769B, #5E8CAD);
    background-size: 300%;
    border-radius: 20px;
    animation: AnimarBorda 8s linear alternate infinite;
}

@keyframes AnimarBorda {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300%;
    }
}

.box::after{
    filter: blur(25px);
}

.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover {
    background-color: #fff;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#silde1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}